.top-panel {
    height: 100px;
    border-bottom: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.top-panel-username-container {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pic {
    height: 80%;
}
#username-panel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 25px;
}
#open-sidebar {
    height: 80%;
    margin-left: 15px;
}

/* responsiveness */

@media all and (max-width: 1000px) {
    .top-panel {
        height: 80px;
    }
    .top-panel-username-container {
        width: 45%;
    }
    #username-panel {
        font-size: 25px;
    }
}
@media all and (max-width: 800px) {
    .top-panel {
        height: 60px;
    }
    .top-panel-username-container {
        width: 55%;
    }
}
@media all and (max-width: 600px) {
    .top-panel {
        height: 40px;
    }
    #username-panel {
        font-size: 18px;
        margin-left: 10px;
    }
}
@media all and (max-width: 450px) {
    .top-panel {
        height: 25px;
    }
    .top-panel-username-container {
        width: 60%;
    }
    #username-panel {
        font-size: 14px;
    }
}